<div class="questionList">
  <div class="headline">
    <h1 class="mat-headline headline">Latest questions</h1>
  </div>
  <div class="list">
    <app-question-info></app-question-info>
    <mat-divider></mat-divider>
    <app-question-info></app-question-info>
    <mat-divider></mat-divider>
    <app-question-info></app-question-info>
    <mat-divider></mat-divider>
    <app-question-info></app-question-info>
    <mat-divider></mat-divider>
    <app-question-info></app-question-info>
    <mat-divider></mat-divider>
    <app-question-info></app-question-info>
    <mat-divider></mat-divider>
  </div>
</div> 