<div class="questionInfo">
  <div class="box">
    <span class="mat-body-1">Votes</span>
    <span class="mat-title">{{question.points}}</span>
  </div>
  <div class="box">
    <span class="mat-body-1">Answers</span>
    <span class="mat-title">{{question.answers.length}}</span>
  </div>
  <div class="questionTitle">
    <span 
    class="questionLink"
    (click)="select(question)">
      {{question.title}}
    </span>
    <app-chip-list
      [tags] = "question.tags"
    >
    </app-chip-list>
  </div>
</div>
