<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <span>Pita.J</span>
    <span class="spacer"></span>
    <button mat-button 
      class="questionButton"
      (click)="goToQuestions()"
      >Pitanja</button>
    <form (submit)="submitHandler($event)">
      <input placeholder="Pretraži..." name="search">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <button mat-button
      *ngIf="user" 
      (click)="goToAsk()"
      class="askButton"
      >Postavi pitanje</button>
    <button mat-icon-button 
      class="userButton"
      [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu"
      [overlapTrigger]="false"
      >
      <button mat-menu-item
        *ngIf="!user"
        (click)="openLoginDialog()"
        >Login</button>
      <button mat-menu-item
        *ngIf="!user"
      (click)="openRegisterDialog()"
      >Registracija</button>


      <span 
        *ngIf="user"
        class="mat-caption">Korisnik: {{user.id}}
      </span>
      <button mat-menu-item
        *ngIf="user"
        (click)="goToMyQuestions()"
        >Moja pitanja</button>
      <button mat-menu-item
      *ngIf="user"
      (click)="logout()"
      >Odjavi se</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>