<div class="ask">
  <div class="headline">
      <h1 class="mat-headline headline">Kreiraj pitanje</h1>
  </div>
  <mat-divider></mat-divider>
  <form (submit)="handleSubmit($event)">
    <mat-form-field>
    <input matInput placeholder="Naslov" name="title">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Oznake (space-separated)" name="tags">
      </mat-form-field>
      <br />
    <mat-form-field class="textarea">
    <textarea matInput 
      placeholder="Napiši pitanje..." 
      [matTextareaAutosize]="false" 
      class="textarea"
      name="content">
    </textarea>
    </mat-form-field>
    <br />
    <button mat-button type="submit">Postavi pitanje</button>
  </form>
</div>