<div class="ask">
  <div class="headline">
      <h1 class="mat-headline headline">Kreiraj pitanje</h1>
  </div>
  <mat-divider></mat-divider>
  <form>
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Naslov" name="title">
    </mat-form-field>
    <br />
    <mat-form-field class="textarea">
    <textarea matInput placeholder="Napiši pitanje..." [matTextareaAutosize]="false" class="textarea"></textarea>
    </mat-form-field>
    <br />
    <button mat-button>Postavi pitanje</button>
  </form>
</div>