<div class="question">
  <div class="headline">
      <h1 class="mat-headline headline">{{selectedQuestion.title}}</h1>
  </div>
  <app-chip-list [tags]="selectedQuestion.tags"></app-chip-list>
  <mat-divider></mat-divider>
  <app-post
    [points]="selectedQuestion.points"
    [isQuestion]="true"
    [poster]="selectedQuestion.poster"
    [content]="selectedQuestion.content"
    [correct]="false"
    [id]="selectedQuestion.id"
  ></app-post>
  <div class="title">
      <h1 class="mat-title title">Odgovori</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="answersList">
    <div
    *ngFor="let answer of selectedQuestion.answers"
    >
      <app-post
      [points]="answer.points"
      [isQuestion]="false"
      [poster]="answer.poster"
      [content]="answer.content"
      [correct]="answer.correct"
      [id]="answer.id"
      ></app-post>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div 
  class="title"
  *ngIf="user" >
      <h1 class="mat-title title">Vaš odgovor</h1>
  </div>
  <mat-divider *ngIf="user"></mat-divider>
  <div 
  class="reply"
  *ngIf="user" >
    <form (submit)="handleSubmit($event)">
      <mat-form-field class="textarea">
        <textarea matInput name="reply" placeholder="Napiši odgovor..." [matTextareaAutosize]="false" class="textarea"></textarea>
      </mat-form-field>
      <button mat-button type="submit">Odgovori</button>
    </form>
  </div>
</div>