<div class="question">
  <div class="headline">
      <h1 class="mat-headline headline">Tandara mandara tandara mandara tandr?</h1>
  </div>
  <app-chip-list></app-chip-list>
  <mat-divider></mat-divider>
  <app-post></app-post>
  <div class="title">
      <h1 class="mat-title title">Odgovori</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="answersList">
    <app-post></app-post>
    <mat-divider></mat-divider>
    <app-post></app-post>
    <mat-divider></mat-divider>
    <app-post></app-post>
    <mat-divider></mat-divider>
    <app-post></app-post>
  </div>
  <div class="title">
      <h1 class="mat-title title">Vaš odgovor</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="reply">
    <form>
      <mat-form-field class="textarea">
        <textarea matInput placeholder="Napiši odgovor..." [matTextareaAutosize]="false" class="textarea"></textarea>
      </mat-form-field>
      <button mat-button>Odgovori</button>
    </form>
  </div>
</div>